<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand"><%= link_to "Adorables", links_path %></div>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "ADD A LINK", new_link_path if current_user %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-text">
          <%= "#{current_user.name}" if current_user %>
        </li>
        <li>
          <%= link_to "LOGOUT", signout_path if current_user %>
        </li>
      </ul>
    </div>
  </div>
</nav>
